@model List<Webstore.Models.product>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "The store";
}

<h2>Our products</h2>

<table>
    <tr>
        <th>Image</th>
        <th>Product</th>
        <th>Price</th>
    </tr>

@foreach(var product in Model)
{
    <tr>
        <td>IMAGE should go here</td>
        <td>
            <span class="product-name">@product.name</span><br />
            <span class="product-description">@product.description</span>
        </td>
        <td>
            kr @product.price ,-
        </td>
        <td>
            <button class="add-to-cart" data-product-id="@product.Id">Add to cart</button>
        </td>
    </tr>
}
      
</table>