@model List<Webstore.Models.product>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Our products</h2>

@foreach(var product in Model)
{
    
         <p>@product.name</p>
         <p>@product.price</p>
}     