@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cables 4 Sale</title>
</head>
<body>
    <header>
        <h1>Cables 4 Sale</h1>
    </header>
    <div>
        
    </div>
</body>
</html>
