<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href= "@Url.Content("~/Content/Stylesheet.css")" rel="stylesheet" 
      type="text/css" />
</head>
    <title>WELCOME TO THE CABLE STORE</title>
</head>
<body>
    <header>
        <h1>Welcome to The Cable Store!</h1>
    </header>
    <div>
        @RenderBody()
    </div>
</body>
</html>
