body {
    font-size: 1em;
    font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
    background-color: #fff;
    width: 80%;
    margin: 0 auto;
}


/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
    border: 1px solid white;
    padding: 0 1.4em 1.4em 1.4em;
    margin: 0 0 1.5em 0;
}

legend {
    font-size: 1.2em;
    font-weight: bold;
}

textarea {
    min-height: 75px;
}

.editor-label {
    margin: 1em 0 0 0;
}

.editor-field {
    margin: 0.5em 0 0 0;
}


/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
    color: #f00;
}

.field-validation-valid {
    display: none;
}

.input-validation-error {
    border: 1px solid #f00;
    background-color: #fee;
}

.validation-summary-errors {
    font-weight: bold;
    color: #f00;
}

.validation-summary-valid {
    display: none;
}


/* Custom styles
-----------------------------------------------------------*/

header h1 {
    display: inline;

}

#user-box {
    width:auto;
    float:right;
}

#welcome-message{
    font-family: 'Times New Roman';
    font-style: italic;
    color: #808080;
    font-size: 1.5em;
}

.option-link {
    font-size:larger;
}

#logout {
    font-size: 0.7em;
}

#link-to-store {
    font-size: medium;
}

#main-container {
    display: inline;
    width: 70%;
    float: left;
}

    #main-container td {
        padding-right: 3em;
        border-bottom: 1px solid #c6c6c6;
    }

#shopping-cart {
    display: inline;
    width: 15em;
    min-height: 10em;
    float: right;
    border: 1px solid #4cff00;
}


